<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/dist/css/skins/skin-blue.min.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
      <% include header.ejs %>

    <!-- Left side column. contains the logo and sidebar -->
      <% include menu.ejs %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Page Header
          <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
          <li class="active">Here</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Your Page Content Here -->
        用户中心
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
      <% include footer.ejs %>
  </div>
  </body>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/javascripts/app.min.js" type="text/javascript"></script>
</html>
